.p-fileupload-choose {
  background-color: #e2ebef;
  color: black;
  border: none;
  cursor: pointer;
}

button {
  padding: 12px;
  margin: 1px;
  background-color: #6366f1;
  border-radius: 3px;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: #5658ec;
  }
}

.uploadInput {
  position: relative;
  width: fit-content;
  height: 38px;
  margin: 0 1px;
  padding: 0 5px;
  overflow: hidden;
  border-radius: 3px;

  input {
    height: 100%;
    cursor: pointer;
  }

  label {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    line-height: 38px;
    margin: auto;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background-color: #9c27b0;
    pointer-events: none;
  }
}
